@model Models.Producto

@{
    ViewBag.Title = "Details";
}

<h2>Detalle Productos</h2>

<div>
    <h4>Producto</h4>
    <hr />
    
    <div class="row">

        <div class="col-md-8">
            <img class="img-responsive" src="/Images/@Html.DisplayFor(model => model.ImagePath)">
        </div>

        <div class="col-md-4">
            <h3>@Html.DisplayFor(model => model.Nombre)</h3>

            <p>@Html.DisplayFor(model => model.Descripcion)</p>
            <h3>Detalle</h3>
            <ul>
                <li>Precio : @Html.DisplayNameFor(model => model.Precio)</li>
                <li>Stock  : @Html.DisplayNameFor(model => model.TipoProducto)</li>
                <li>Tipo   : @Html.DisplayFor(model => model.TipoProducto.NombreTipo)</li>
                <li>Adipiscing Elit</li>
            </ul>
        </div>

    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
