@model IEnumerable<Models.Producto>




@{
    ViewBag.Title = "Listado Producto";
}
<div class="row">
    <div>
        <h2 class="h2">Listado Producto</h2>
    </div>

    @using (Html.BeginForm("Agregar", "Producto", FormMethod.Post))
    {
        <div class="jumbotron">
            <div class="row">
                @foreach (var item in Model)
                {

                    using (Html.BeginForm("Agregar", "Producto", FormMethod.Post))
                    {

                        var acortarN = String.Concat(item.Nombre.Take(25));
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <img src="/Images/@item.ImagePath" height="300" width="300">

                                @Html.HiddenFor(modelItem => item.Id, new { @Id = "Id", @Name = "Id" })
                                @Html.HiddenFor(modelItem => item.Cantidad, new { @Id = "Cantidad", @Name = "Cantidad" })
                                @Html.HiddenFor(modelItem => item.ImagePath, new { @Id = "ImagePath", @Name = "ImagePath" })
                                @Html.HiddenFor(modelItem => item.IdTipoProducto, new { @Id = "IdTipoProducto", @Name = "IdTipoProducto" })
                                @Html.HiddenFor(modelItem => item.Precio, new { @Id = "Precio", @Name = "Precio" })

                                <h3 title="@item.Nombre">@Html.DisplayFor(modelItem => acortarN)</h3>
                                @Html.HiddenFor(modelItem => item.Nombre, new { @Id = "Nombre", @Name = "Nombre" })

                               

                                <h4 class="text-danger" >
                                    $@Html.DisplayFor(modelItem => item.Precio, new { @Id = "Precio", @Name = "Precio" , @class = "danger" })
                                </h4>
                                <p>

                                    <input type="submit" value="Agregar" id="Agregar" class="btn btn-default btn-outline-secondary" />
                                </p>
                            </div>
                        </div>
                    }

                }

            </div>
        </div>
    }
</div>

